@import '/styles/colors.scss';

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .container_cta {
    z-index: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 40px;
    background-color: $white;
    color: $black;
    font-size: 20px;
    .imgCoffe {
      margin-top: -9px;
      width: 19px;
      height: 19px;
      pointer-events: none;
    }
    .imgHeart {
      @extend .imgCoffe;
      margin-top: -4px;
    }
  }
  .container_nav {
    z-index: 6;
    width: 100%;
    min-height: 150px;
    max-height: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: $blackColor15;
    .logo {
      margin-top: -25px;
      transition: all 0.3s;
      cursor: pointer;
      &:hover {
        transform: scale(95%);
        transition: all 0.3s;
      }
    }
    .container_content {
      width: 100%;
      max-width: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      .imgSearch {
        cursor: pointer;
        transition: all 0.4s;
        &:hover {
          transform: scale(90%);
          transition: all 0.4s;
        }
      }
      .wrapper_container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: transparent;
        .register {
          padding: 12px;
          font-size: 30px;
          color: #fff;
          border-color: transparent;
          border-bottom: 2px solid transparent;
          transition: ease 0.3s;
          background-color: transparent;
          cursor: pointer;
          &:hover {
            color: #c4c4c4;
            background-color: transparent;
            border-bottom: 2px solid rgb(145, 20, 247);
            transition: ease-in-out 0.3s;
            transform: scale(90%);
          }
          &:focus {
            box-shadow: none;
          }
        }
        .login {
          @extend .register;
          &:hover {
            border-bottom: 2px solid rgb(42, 170, 255);
          }
        }
      }
    }
  }
}
.container_search {
  z-index: 4;
  position: absolute;
  top: 160px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  width: 100%;
  transition: all 0.3s;
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .input {
      background-color: transparent;
      border: none;
      border-radius: 0;
      border-bottom: 3px solid $primary;
      width: 50%;
      height: 65%;
      font-size: 50px;
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
}
.active {
  top: 0px;
  transition: all 0.3s;
}
