@import '@/styles/colors.scss';

.container {
  position: relative;
  max-width: 250px;
  width: 100%;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: $box_shadow;
  transition: all 0.4s;
  border: 2px solid $white;
  .overlay {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.4s;
    &:hover {
      opacity: 1;
      background-color: rgba(0, 0, 0, 0.58);
      transition: all 0.4s;
      .title {
        opacity: 1;
        z-index: 999999;
        font-size: 40px;
      }
    }
  }
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    border-radius: 10px;
  }
  &:hover {
    transform: translateY(-10px);
    transition: all 0.4s;
  }
}
.container_feature {
  align-items: flex-start;
  @extend .container;
  .container_content {
    position: absolute;
    display: flex;
    justify-content: right;
    width: 100%;
    cursor: pointer;
    .container_swapper {
      z-index: 2;
      position: relative;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      .img_cat {
        position: absolute;
        width: 45px;
        height: 90px;
        top: -46px;
        right: 10px;
      }
      .counter {
        position: absolute;
        top: -2px;
        right: 15px;
        width: 35px;
        font-size: 22px;
        text-align: center;
      }
    }
  }
}
