@import '@/styles/colors.scss';

.container {
  z-index: 10;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blackColorHover;
  transition: all 0.4s;
  .container_content {
    z-index: 2;
    visibility: visible;
    max-width: 700px;
    width: 100%;
    max-height: 500px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid $blackColor50;
    box-shadow: $box_shadow;
    transition: all 0.4s;
    .container_left {
      width: 40%;
      height: 100%;
      border-right: 2px solid $blackColor50;
      .background {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .container_right {
      position: relative;
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      .container_close {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: right;
        align-items: center;
        top: 15px;
        right: 20px;
        .close {
          width: 30px;
          height: 30px;
          cursor: pointer;
          object-fit: contain;
          transition: $transition;
          &:hover {
            transform: scale(95%);
            transition: $transition;
          }
        }
      }
      .form {
        max-width: 600px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        .form_group {
          position: relative;
          display: flex;
          justify-content: center;
          width: 100%;
          height: 60px;
          margin: 20px 0;
          .input {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            font-size: 21px;
            border: 2px solid $blackColor20;
            border-radius: 5px;
            outline: none;
            padding: 1rem;
            background: none;
          }
          .label {
            position: absolute;
            left: 1rem;
            top: 0.8rem;
            padding: 0 0.5rem;
            background-color: $white;
            color: $blackColor20;
            font-size: 22px;
            transition: 0.3s;
          }
          .input:focus + .label {
            z-index: 10;
            top: -1rem;
            left: 0.8rem;
            background-color: $white;
            font-size: 20px;
            font-weight: 500;
          }
          .input:not(:placeholder-shown).input:not(:focus) + .label {
            z-index: 10;
            top: -1rem;
            left: 0.8rem;
            font-size: 20px;
          }
          .input:focus {
            border: 2px solid $input_focus;
            box-shadow: none;
          }
          .logo {
            top: -58px;
            position: absolute;
            max-width: 110px;
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        .btn {
          margin-top: 10px;
        }
      }
      .form_register {
        @extend .form;
        margin-top: 20px;
        .form_group {
          @extend .form_group;
          margin: 8px 0;
        }
      }
    }
  }
}
.container_active {
  z-index: 0;
  background-color: transparent;
  transition: all 0.4s;
  .active_auth {
    margin-top: -1000px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s;
  }
}
