.splide {
  display: flex;
  align-items: center;
  height: 400px;
  .splideSlide {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 380px;
  }
}
