@import '@/styles/colors.scss';

.form {
  padding: 0 15px;
  width: 100%;
  height: 100%;
  .form_group {
    .form_group_flex {
      width: 100%;
      height: 100%;
      display: flex;
      gap: 20px;
      justify-content: center;
      align-items: center;
      .form_group_flex_d {
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      .form_group_flex_id {
        @extend .form_group_flex_d;
        width: 30%;
      }
    }
  }
  .form_group_select {
    display: flex;
    gap: 20px;
  }
  .btn {
    border: none;
    &:hover {
      background-color: $blackColor50;
    }
  }
}
.container_table {
  width: 100%;
  height: 100%;
  font-size: 20px;
  table {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    .img {
      object-fit: contain;
    }
  }
  .pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    .btn {
      max-width: 200px;
      margin-top: 20px;
      &:hover {
        background-color: $blackColor40;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container_table {
    font-size: 2vw;
    white-space: nowrap;
  }
}
@media (max-width: 650px) {
  .container_table {
    font-size: 3vw;
    white-space: nowrap;
  }
}
@media (max-width: 350px) {
  .container_table {
    font-size: 4vw;
    white-space: nowrap;
  }
}
