@import '@/styles/colors.scss';

.navbar {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blackColor15;
  .logo {
    z-index: 1;
    position: absolute;
    top: -40px;
    width: 200px;
    left: 50px;
    cursor: pointer;
    object-fit: contain;
  }
  .btn {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    transition: $transition;
    .line {
      width: 20px;
      height: 3px;
      background-color: $white;
      margin-top: 5px;
      transition: $transition;
    }
    &:hover {
      transition: $transition;
      .line {
        background-color: $primary;
      }
    }
  }
}
.navbarOpen {
  z-index: 20;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $blackColorHover;
  backdrop-filter: blur(5px);
  transition: $transition2s;
  .container_navbar {
    position: relative;
    width: 420px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: $white;
    border-right: 4px solid $primary;
    transition: $transition;
    .btn {
      position: absolute;
      top: 30px;
      right: 30px;
      background-color: transparent;
      border: none;
      transition: $transition;
      .close {
        width: 35px;
        height: 35px;
        cursor: pointer;
        object-fit: contain;
        transition: $transition;
        &:hover {
          transform: scale(95%);
          transition: $transition;
        }
      }
    }
    .link {
      text-decoration: none;
      color: $black;
      font-size: 25px;
      transition: $transition;
      &:hover {
        color: $primary;
        transform: translateY(-5px);
        transition: $transition;
      }
    }
  }
  .loggout {
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    font-size: 25px;
    border: none;
    color: $blackColor15;
    transition: $transition;
    cursor: pointer;
    &:hover {
      color: $primary;
      transform: translateY(-5px);
      transition: $transition;
    }
  }
}
.active {
  visibility: hidden;
  transition: $transition2s;
  .container_active {
    z-index: 0;
    margin-left: -450px;
    visibility: hidden;
    transition: $transition;
  }
}

@media (max-width: 450px) {
  .navbarOpen {
    backdrop-filter: blur(0px);
    .container_navbar {
      width: 100%;
      border-right: none;
    }
  }
}

@media (max-width: 350px) {
  .navbar {
    img {
      left: 10px;
    }
  }
}
