@import '@/styles/colors.scss';

.navbar {
  position: relative;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $blackColor15;
  img {
    z-index: 1;
    position: absolute;
    bottom: -25px;
    width: 200px;
    left: 50px;
    cursor: pointer;
  }
  .btn {
    position: absolute;
    right: 20px;
    background-color: transparent;
    border: none;
    transition: all 0.3s;
    .line {
      width: 20px;
      height: 3px;
      background-color: $white;
      margin-top: 5px;
      transition: all 0.3s;
    }
    &:hover {
      transition: all 0.3s;
      .line {
        background-color: $primary;
      }
    }
  }
}
.navbarOpen {
  z-index: 9999;
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  .loggout {
    position: absolute;
    bottom: 20px;
    background-color: transparent;
    font-size: 25px;
    border: none;
    color: $blackColor15;
    transition: all 0.3s;
  }
  .container_navbar {
    position: relative;
    width: 420px;
    height: 100%;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-right: 4px solid $blackColor15;
    .btn {
      position: absolute;
      top: 30px;
      right: 30px;
      background-color: transparent;
      border: none;
      transition: all 0.3s;
    }
    .link {
      text-decoration: none;
      color: $black;
      font-size: 25px;
      transition: all 0.3s;
      &:hover {
        color: $primary;
        transform: translateY(-5px);
        transition: all 0.3s;
      }
    }
  }
}
.active {
  visibility: hidden;
  z-index: 0;
  left: -800px;
  transition: all 0.4s;
}

@media (max-width: 450px) {
  .navbarOpen {
    .container_navbar {
      width: 100%;
      border-right: none;
    }
  }
}

@media (max-width: 350px) {
  .navbar {
    img {
      left: 10px;
    }
  }
}
