@import '@/styles/colors.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  .container_categories {
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: $blackColor20;
    transition: $transition;
    &:hover {
      background-color: $primary;
      transition: $transition;
    }
    .title {
      font-size: 22px;
      cursor: pointer;
      color: $white;
      text-wrap: nowrap;
    }
  }
}
