$blackColor15: rgb(15, 15, 15);
$blackColor: rgb(20, 20, 20);
$blackColor_background: rgb(40, 40, 40);
$black: rgb(20, 20, 20);
$black50: rgb(50, 50, 50);
$white: #fff;
$primary: #631dc0;
$border_primary: #3f117c;
$comment_border: #2c0263;
$profile_false: rgb(255, 255, 255);
$background_primary: #48148b;
$input_focus: #8400ff;
$attetion: rgb(253, 61, 61);
$bar: rgb(2, 162, 255);
$bar_popular: rgb(10, 255, 2);
$bar_features: rgb(255, 2, 120);
$bar_fav: rgb(255, 2, 120);
$button_c4: #c4c4c4;
$toast: rgb(255, 70, 70);
$toast_success: rgb(48, 206, 61);
