$black: rgb(0, 0, 0);
$blackColor15: rgb(15, 15, 15);
$blackColor20: rgb(20, 20, 20);
$blackColor40: rgb(40, 40, 40);
$blackColor50: rgb(50, 50, 50);
$blackColorHover: rgba(0, 0, 0, 0.5);
$white: #fff;
$white_smoke: #f2f2f2;
$white_grey: #ddd;
$primary: #631dc0;
$border_primary: #3f117c;
$comment_primary: #2c0263;
$background_primary: #48148b;
$input_focus: #8400ff;
$attetion: rgb(253, 61, 61);
$bar: rgb(2, 162, 255);
$bar_popular: rgb(10, 255, 2);
$bar_features: rgb(255, 2, 120);
$bar_fav: rgb(255, 2, 120);
$button_c4: #c4c4c4;
$toast: rgb(255, 70, 70);
$toast_success: rgb(48, 206, 61);
$box_shadow: 0px 5px 10px -4px rgba(0, 0, 0, 0.75);
$transition: all 0.4s;
$shounen: #f73a3a;
$seinen: #00aeff;
$josei: #ff9900;
$shoujo: #ff9fcd;
$kodomo: #ffd000;
