@import './colors.scss';

::selection {
  background-color: $background_primary;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: $primary;
}
::-webkit-scrollbar-thumb {
  background: $white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pathway Gothic One', sans-serif;
}

div {
  p {
    margin: 0;
  }
}

main {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 60px 30px;
  background-color: $primary;
  color: $white;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url('../public/back_profiles/buble-home.png');
}

@media (max-width: 500px) {
  main {
    padding: 60px 10px;
  }
}
