@import '@/styles/colors.scss';

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 50px 0;
  background-image: url('../../../../../public/back_profiles/paws.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow: hidden;
  .container_video {
    position: relative;
    width: 80%;
    padding-top: 45.75%;
    border: 2px solid $white;
    border-radius: 10px;
    overflow: hidden;
    .container_content_video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .container_content_seasons {
    width: 80%;
    height: 100%;
    border-radius: 10px;
    padding: 40px 0;
    max-height: 1000px;
    background-color: $blackColor40;
    overflow-y: scroll;
    .container_swapper_seasons {
      width: 100%;
      height: 100%;
      padding: 20px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .container_title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        gap: 10px;
        .arrow_down {
          cursor: pointer;
          transition: $transition;
        }
        .arrow_up {
          transform: rotate(180deg);
          cursor: pointer;
          transition: $transition;
        }
        .title {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          font-size: 35px;
        }
      }
      .container_episodes {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 0 10px;
        gap: 20px;
        .episodes {
          position: relative;
          width: 200px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 4px;
          background-color: $primary;
          cursor: pointer;
          transition: $transition;
          .episode_name {
            z-index: 1;
            position: relative;
            font-size: 20px;
            color: $white;
            text-decoration: none;
            transition: $transition;
          }
          .thumbnail {
            position: absolute;
            object-fit: cover;
            opacity: 0.2;
          }
          &:hover {
            background-color: $white;
            transition: $transition;
            .episode_name {
              color: $primary;
            }
            .thumbnail {
              opacity: 0.4;
            }
          }
        }
      }
    }
  }
}
